.Rproj.user
.Rhistory
.RData
.Ruserdata
.CombVarietyTrial.csv
.pasturesForProfit.csv
.pasturesForProfit.xlsx
.prod_index_soil.txt
.species rationale.pptx
data/
figures/
grass species composition/
management/
modelOutputs/
models/
Soil Interpretation flow chart.docx
